.main-panel {
    width: 1000px;
    left: calc(50%-500px);
    left:-webkit-calc(50%-500px);
    left:-moz-calc(50%-500px);
    float: none;
}

.card {
    height: 700px;
    top: 0px;
}

div .first_page {
    font-size: 35px;
    margin: 65px;
}

button {
    top: 30px;
}

.card-content {
    margin: 30px 50px;
    height: 400px

}

.card-content div {
    font-size: 30px;
    line-height: 50px;
}